body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', 'Mulish', 'Sono', sans-serif;
}

.navbar {
    background-color: #fff;
    color: #000;
    height: 70px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100%;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 35px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease;
}
.nav-links li a:hover {
    color: #0056b3; 
    font-weight: bold; 
}

.nav-links li a:active {
    color: #36cb4e;
    text-decoration: none; 
}

.addcar-container {
    max-width: 400px;
    width: 90%; 
    margin: 100px auto; 
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addcar-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #36cb4e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s ease;
}


a.button:hover {
    color: #0056b3; 
    font-weight: bold; 
}

a.button:active {
    color: #36cb4e;
    text-decoration: none; 
}
